{% extends 'Index.html' %}

{% block body %}

<div class="container">
    <h1>Login to continue</h1>
    <hr>
    <div class="row">
        <div class="col-6" style="background-color: whitesmoke;">
            <form method="POST" action="" class="border p-4 mt-2 mb-2">
                {{ form_login.csrf_token }}
                <legend>Login</legend>
                <fieldset>
                    <div class="form-group">
                        {{ form_login.email.label(class="form-control-label") }}
                        {% if form_login.email.errors %}
                            {{ form_login.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_login.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>    
                        {% else %}
                            {{ form_login.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_login.password.label(class="form-control-label") }}
                        {% if form_login.password.errors %}
                            {{ form_login.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form_login.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>    
                        {% else %}
                            {{ form_login.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_login.remember_access_data.label(class="form-check-label") }}
                        {{ form_login.remember_access_data(class="form-check-input") }}
                    </div>
                </fieldset>
                {{ form_login.login_submit_button(class="btn btn-primary mt-2") }}
            </form>
        </div>
        <div class="col-6">
            <h1></h1>
        </div>
    </div>
</div>

{% endblock %}