{% extends 'Index.html' %}

{% block body %}


<h1 style="color: darkmagenta; text-decoration: underline;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
  <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
</svg>A358 Payment Registers</h1>    

<P><li><a href="#taylor-woodrow">TAYLOR WOODROW</a>&emsp;- Click the wallet to access the latest Taylor Woodrow CEMAR Payment Register:&emsp;<a href="C:\Users\marcelo.defranceschi\OneDrive - Mace\10 RIP PC SW\02. Commercial\A358\05 Apps & Certs\Taylor Woodrow\PA_Register_Detailed_Multiple.xlsx"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-wallet-fill" viewBox="0 0 16 16">
  <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2z"/>
  <path d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5z"/>
</svg></a></li></P>
<P><li><a href="#atkins">ATKINS</a>&emsp;- Click the wallet to access the latest Atkins CEMAR Payment Register:&emsp;<a href="C:\Users\marcelo.defranceschi\OneDrive - Mace\10 RIP PC SW\02. Commercial\A358\05 Apps & Certs\Atkins\Technical Assurance - A358 Taunton to Southfields (Stage 3-7) - Atkins Filtered PMNT Register - 2023-11-28-10_37_32.csv"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-wallet-fill" viewBox="0 0 16 16">
  <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2z"/>
  <path d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5z"/>
</svg></a></li></P>

<br/>
<br/>

<div class="container col-xxl-6">
<table id="taylor-woodrow">
<thead style="background-color: darkslateblue; color: white;">
<tr>
<th colspan="5">TAYLOR WOODROW</th>
</tr>
  <tr>
    <th>Month</th>
    <th>AFP</th>
    <th>Cumulative Amount</th>
    <th scope="col">Certified In-month</th>
    <th>File Link</th>
  </tr>
</thead>

<tbody>
  <tr>
    <th scope="row">Oct-23</th>
    <td>AFP-33</td>
    <td style="text-align: right;">£25,704,633.24</td>
    <td style="text-align: right;">£466,886.48</td>
    <td><a href="file:///C:\Users\marcelo.defranceschi\OneDrive - Mace\10 RIP PC SW\02. Commercial\A358\05 Apps & Certs\Taylor Woodrow\AFP-33\HE RDP Framework_Lot 4 - A358 Scheme Contract AFP 033 ASSESSMENT.xlsx">AFP-33</a></td>
  </tr>
  <tr>
    <th scope="row">Sep-23</th>
    <td>AFP-32</td>
    <td style="text-align: right;">£25,237,746.76</td>
    <td style="text-align: right;">£506,309.06</td>
    <td><a href="file:///C:\Users\marcelo.defranceschi\OneDrive - Mace\10 RIP PC SW\02. Commercial\A358\05 Apps & Certs\Taylor Woodrow\AFP-32\A358_Taylor Woodrow AfP 32_Commercial_Review 02.11.23 MDF.xlsx">AFP-32</a></td>
  </tr>
<tr>
    <th scope="row">Aug-23</th>
    <td>AFP-31</td>
    <td style="text-align: right;">£24,731,437.70</td>
    <td style="text-align: right;">£702,872.17</td>
    <td><a href="#"></a></td>
  </tr>
<tr>
    <th scope="row">Jul-23</th>
    <td>AFP-30</td>
    <td style="text-align: right;">£24,028,565.53</td>
    <td style="text-align: right;">£596,654.54</td>
    <td><a href="#"></a></td>
  </tr>
<tr>
    <th scope="row">Jun-23</th>
    <td>AFP-29</td>
    <td style="text-align: right;">£23,431,910.99</td>
    <td style="text-align: right;">£738,399.12</td>
    <td><a href="#"></a></td>
  </tr>
<tr>
    <th scope="row">May-23</th>
    <td>AFP-28</td>
    <td style="text-align: right;">£22,693,511.87</td>
    <td style="text-align: right;">£494,315.26</td>
    <td><a href="#"></a></td>
  </tr>
<tr>
    <th scope="row">Apr-23</th>
    <td>AFP-27</td>
    <td style="text-align: right;">£22,199,196.61</td>
    <td style="text-align: right;">£272,731.84</td>
    <td><a href="#"></a></td>
  </tr>
<tr>
    <th scope="row">Mar-23</th>
    <td>AFP-26</td>
    <td style="text-align: right;">£21,926,464.77</td>
    <td style="text-align: right;">£302,657.20</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Feb-23.2</th>
    <td>AFP-25</td>
    <td style="text-align: right;">£21,623,807.57</td>
    <td style="text-align: right;">£-620,727.67</td>
    <td><a href="#"></a></td>
  </tr>
<tr>
<tr>
    <th scope="row">Feb-23</th>
    <td>AFP-24</td>
    <td style="text-align: right;">£22,244,535.24</td>
    <td style="text-align: right;">£620,727.67</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Jan-23</th>
    <td>AFP-23</td>
    <td style="text-align: right;">£21,623,807.57</td>
    <td style="text-align: right;">£727,737.48</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Dec-22</th>
    <td>AFP-22</td>
    <td style="text-align: right;">£20,896,070.09</td>
    <td style="text-align: right;">£521,892.65</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Nov-22</th>
    <td>AFP-21</td>
    <td style="text-align: right;">£20,374,177.44</td>
    <td style="text-align: right;">£131,477.60</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Oct-22</th>
    <td>AFP-20</td>
    <td style="text-align: right;">£20,242,699.84</td>
    <td style="text-align: right;">£272,061.94</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Sep-22</th>
    <td>AFP-19</td>
    <td style="text-align: right;">£19,970,637.90</td>
    <td style="text-align: right;">£784,514.49</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Aug-22</th>
    <td>AFP-18</td>
    <td style="text-align: right;">£19,186,123.41</td>
    <td style="text-align: right;">£349,706.46</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Jul-22</th>
    <td>AFP-17</td>
    <td style="text-align: right;">£18,836,416.95</td>
    <td style="text-align: right;">£441,205.40</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Jun-22</th>
    <td>AFP-16</td>
    <td style="text-align: right;">£18,395,211.55</td>
    <td style="text-align: right;">£1,440,108.66</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">May-22</th>
    <td>AFP-15</td>
    <td style="text-align: right;">£16,955,102.89</td>
    <td style="text-align: right;">£1,312,157.49</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Apr-22</th>
    <td>AFP-14</td>
    <td style="text-align: right;">£15,642,945.40</td>
    <td style="text-align: right;">£1,147,305.29</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Mar-22.2</th>
    <td>AFP-13</td>
    <td style="text-align: right;">£14,495,640.11</td>
    <td style="text-align: right;">£746,855.00</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Mar-22</th>
    <td>AFP-12</td>
    <td style="text-align: right;">£13,748,785.11</td>
    <td style="text-align: right;">£1,207,008.34</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Feb-22</th>
    <td>AFP-11</td>
    <td style="text-align: right;">£12,541,776.77</td>
    <td style="text-align: right;">£1,132,654.77</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Jan-22</th>
    <td>AFP-10</td>
    <td style="text-align: right;">£11,409,122.00</td>
    <td style="text-align: right;">£1,105,759.18</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Dec-21</th>
    <td>AFP-09</td>
    <td style="text-align: right;">£10,303,362.82</td>
    <td style="text-align: right;">£1,043,183.57</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Nov-21</th>
    <td>AFP-08</td>
    <td style="text-align: right;">£9,260,179.25</td>
    <td style="text-align: right;">£1,096,913.82</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Oct-21</th>
    <td>AFP-07</td>
    <td style="text-align: right;">£8,163,265.43</td>
    <td style="text-align: right;">£1,055,205.41</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Sep-21</th>
    <td>AFP-06</td>
    <td style="text-align: right;">£7,108,060.02</td>
    <td style="text-align: right;">£1,377,221.99</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Aug-21</th>
    <td>AFP-05</td>
    <td style="text-align: right;">£5,730,838.03</td>
    <td style="text-align: right;">£1,284,194.63</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Jul-21</th>
    <td>AFP-04</td>
    <td style="text-align: right;">£4,446,643.40</td>
    <td style="text-align: right;">£1,295,266.09</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Jun-21</th>
    <td>AFP-03</td>
    <td style="text-align: right;">£3,151,377.31</td>
    <td style="text-align: right;">£878,508.95</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">May-21</th>
    <td>AFP-02</td>
    <td style="text-align: right;">£2,272,868.36</td>
    <td style="text-align: right;">£1,178,729.14</td>
    <td><a href="#"></a></td>
</tr>
<tr>
    <th scope="row">Apr-21</th>
    <td>AFP-01</td>
    <td style="text-align: right;">£1,094,139.22</td>
    <td style="text-align: right;">£1,094,139.22</td>
    <td><a href="#"></a></td>
</tr>


<tr class="total">
    <th scope="row" style="font-weight: bold; margin-left: 10px;">TOTAL</th>
    <td></td>
    <td></td>
    <td style="text-align: right;">£25,704,633.24</td>
    <td></td>
</tr>
</tbody>
</table>
</div>

<br/>
<br/>


<div class="container col-xxl-6">
<table id="atkins">
<thead style="background-color: darkslateblue; color: white;">
<tr>
<th colspan="5">Atkins</th>
</tr>
  <tr>
    <th>Month</th>
    <th>AFP</th>
    <th>Cumulative Amount</th>
    <th scope="col">Certified In-month</th>
    <th>File Link</th>
  </tr>
</thead>

<tbody>
  <tr>
    <th scope="row">Oct-23</th>
    <td>AFP-33</td>
    <td style="text-align: right;">£0.00</td>
    <td style="text-align: right;">£0.00</td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <th scope="row">Sep-23</th>
    <td>AFP-32</td>
    <td style="text-align: right;">£0.00</td>
    <td style="text-align: right;">£0.00</td>
    <td><a href="#"></a></td>
  </tr>
</tbody>
</table>
</div>

</br>
</br>


{% endblock %}